{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"]
  }
}
