<div class="mb-8">
  <div class="flex items-center -mx-1">
    <label class="flex-1 px-1 uppercase text-white">{{name}}</label>
    <div class="flex-none px-1 mb-1 w-2/5 xl:w-1/4 mr-6 flex justify-end">
      <span class="cursor-pointer hint--top hint--medium hint--rounded" aria-label="The sum of your wages and salary, before any taxes or deductions are taken out."><span class="label border-b border-dotted no-underline leading-none text-right block">Gross wages</span></span>
    </div>
  </div>
  <div class="flex items-center -mx-1">
    <div class="flex-1 px-1">
      <input type="range" name="amount" value="{{amount}}" min="0" max="250000" step="500" class="input-range text-white w-full">
    </div>
    <div class="flex-none items-center  w-2/5 xl:w-1/4 mr-6 px-1 flex items-center">
      <div class="bg-grey-light p-3 rounded-tl rounded-bl shadow leading-tight">
        $
      </div>
      <input class="input flex-1 rounded-l-none rounded-r leading-tight" type="tel" name="amount" value="{{amount}}" data-type="currency" maxlength="20">
    </div>
  </div>
</div>
