<div class="mb-8">
  <div class="flex items-center -mx-1">
    <label class="flex-1 px-1 uppercase text-white">{{name}}</label>
    <div class="flex-none px-1 justify-center mb-1 w-32 mr-6 flex items-center">
      <span class="label">Gross wages</span>
      <a href="#" class="block no-underline leading-none text-teal hint--top hint--medium hint--rounded" aria-label="This is the amount you make per year, before any taxes or deductions are taken out."><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current h-4 w-4 pointer-events-none ml-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12" y2="17"></line></svg></a>
    </div>
  </div>
  <div class="flex items-center -mx-1">
    <div class="flex-1 px-1">
      <input type="range" name="amount" value="{{amount}}" min="0" max="250000" step="500" class="input-range text-white w-full">
    </div>
    <div class="flex-none w-32 mr-6 px-1">
      <input class="input" type="text" name="amount" value="{{amount}}" maxlength="20" data-type="currency">
    </div>
  </div>
</div>
