<div class="mb-4">
  <label class="label text-grey-darker" for="{{id}}">{{name}}</label>
  <h4 class="income-display mb-2"></h4>
  <input id="{{id}}" type="range" value="{{amount}}" min="0" max="250000" step="500" class="input-range text-blue w-full">
</div>
