<div class="mb-8">
  <div class="flex items-center -mx-1">
    <label class="flex-1 px-1 uppercase text-white">{{name}}</label>
    <div class="flex-none px-1 justify-center mb-1 w-32 mr-6 flex items-center">
      <span class="cursor-pointer hint--top hint--medium hint--rounded" aria-label="The sum of your wages and salary, before any taxes or deductions are taken out."><span class="label border-b border-dashed no-underline">Gross wages</span></span>
    </div>
  </div>
  <div class="flex items-center -mx-1">
    <div class="flex-1 px-1">
      <input type="range" name="amount" value="{{amount}}" min="0" max="250000" step="500" class="input-range text-white w-full">
    </div>
    <div class="flex-none w-32 mr-6 px-1">
      <input class="input" type="text" name="amount" value="{{amount}}" maxlength="20" data-type="currency">
    </div>
  </div>
</div>
