<div class="w-1/2 pl-4 flex items-center">
  <div class="rounded-full w-3 h-3 bg-blue mr-2"></div>
  Contribution ({{name}})
</div>
<div class="w-1/4 text-right font-bold">
  <span class="row-share"></span>
</div>
<div class="w-1/4 text-right font-bold">
  <span class="row-total"></span>
</div>