<a href="#" class="row flex-wrap no-underline text-grey">
  <div class="col flex-1 flex items-center">
    <div class="flex-none rounded-full w-3 h-3 mr-2" style="background-color:{{[helpers/color] index}}"></div>
    {{name}}
  </div>
  <div class="col w-1/5 text-right font-bold">
    <span class="row-share"></span>
  </div>
  <div class="col w-1/2 flex items-center justify-end text-right">
    <div class="truncate">
      <span class="row-total font-bold"></span>/mo
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="open ml-2 text-teal stroke-current h-4 w-4 pointer-events-none"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="close ml-2 text-teal stroke-current h-4 w-4 pointer-events-none"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
  </div>
  <ul class="details col list-reset mt-2 mr-6 w-full text-right text-xs">
    <li class="py-1"><span class="row-total-biweekly"></span> / bi-weekly</li>
    <li class="py-1"><span class="row-total-bimonthly"></span> / bi-monthly</li>
    <li class="py-1"><span class="row-total-annually"></span> / annually</li>
  </ul>
</a>
