.input-range::-webkit-slider-runnable-track {
  background-color: config('colors.teal');
}

.input-range::-moz-range-track {
  background-color: config('colors.teal');
}

.input-range::-webkit-slider-thumb {
  border-color: transparent;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  height: 1.25rem;
  width: 1.25rem;
}

.input-range::-moz-range-thumb {
  border-color: transparent;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  height: 1.25rem;
  width: 1.25rem;
}

.input-range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-radius: 3px;
  border-width: 12px 0;
  color: transparent;
  cursor: pointer;
  height: .25rem;
}

.input-range::-ms-fill-lower {
  background: config('colors.teal');
  border-radius: 3px;
}

.input-range::-ms-fill-upper {
  background: config('colors.teal');
  border-radius: 3px;
}

.input-range::-ms-thumb {
  background: config('colors.white');
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  height: 1.25rem;
  width: 1.25rem;
}

.input-range:focus::-ms-fill-lower {
  background: config('colors.teal');
}

.input-range:focus::-ms-fill-upper {
  background: config('colors.teal');
}
