body {
  background: rgb(0,162,168);
  background: linear-gradient(145deg, rgba(0,162,168,1) 0%, rgba(4,29,89,1) 100%);
}

.input {
  @apply .w-full .appearance-none .bg-white .text-grey .shadow .rounded .p-3;
}

.label {
  @apply .block .uppercase .tracking-wide .text-base .font-light;
}

#rows > div,
.row {
  @apply .flex .text-grey .border-b .border-teal .py-6
}

.input-range::-webkit-slider-runnable-track {
  background-color: $color-teal;
}

.input-range::-moz-range-track {
  background-color: $color-teal;
}

.input-range::-webkit-slider-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.input-range::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.firebaseui-id-page-callback,
.firebaseui-busy-indicator {
  display: none !important;
}
