.bg-gradient {
  background: rgb(0, 162, 168);
  background: linear-gradient(145deg, rgba(0, 162, 168, 1) 0%, rgba(4, 29, 89, 1) 100%);
}

.icon {
  @apply .stroke-current .h-4 .w-4 .pointer-events-none;
}

.input {
  @apply .min-w-0 .w-full .appearance-none .bg-white .text-grey .shadow .p-3;
}

.label {
  @apply .block .uppercase .text-xs .font-bold .text-teal .whitespace-no-wrap;
}

.page {
  @apply .h-full;
}

.row {
  @apply .flex .items-start .-mx-2 .py-6;

  .col {
    @apply .px-2;
  }
}

.firebaseui-id-page-callback,
.firebaseui-busy-indicator {
  display: none !important;
}

.select,
.split-adhoc-label {
  display: none;
}

.split-adhoc {
  .select,
  .split-adhoc-label {
    display: block;
  }
}

.sr-only {
  left: -999em;
  position: absolute;
}
