.bg-gradient {
  background: rgb(0,162,168);
  background: linear-gradient(145deg, rgba(0,162,168,1) 0%, rgba(4,29,89,1) 100%);
}

.collapsed {
  .details {
    display: none;
  }
  .expand-close {
    display: none;
  }
  .expand-open {
    display: block;
  }
}

.expanded {
  .details {
    display: block;
  }
  .expand-close {
    display: block;
  }
  .expand-open {
    display: none;
  }
}

#expenses {
  .select {
    display: none;
  }
  &.split-adhoc .select {
    display: block;
  }
}

.input {
  @apply .w-full .appearance-none .bg-white .text-grey .shadow .rounded .p-3;
}

.label {
  @apply .block .uppercase .text-xs .font-bold .text-teal .whitespace-no-wrap;
}

.row {
  @apply .flex .items-start .-mx-2 .py-6 .border-b .border-teal;

  .col {
    @apply .px-2;
  }
}

.sr-only {
  position: absolute;
  left: -999em;
}

.input-range::-webkit-slider-runnable-track {
  background-color: $color-teal;
}

.input-range::-moz-range-track {
  background-color: $color-teal;
}

.input-range::-webkit-slider-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.input-range::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.firebaseui-id-page-callback,
.firebaseui-busy-indicator {
  display: none !important;
}
