<div class="expense flex -mx-2 mb-2">
  <div class="w-2/3 px-2">
    <input id="item" class="w-full appearance-none inline-block bg-white text-grey-darker border shadow rounded py-3 px-4" type="text" value="{{item}}">
  </div>
  <div class="flex items-center w-1/3 px-2">
    <input class="js-cost w-full appearance-none bg-white text-grey-darker border shadow rounded py-3 px-4" type="text" value="{{cost}}">
    <a href="#" class="remove px-2">
      <svg class="stroke-current text-blue inline-block h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
    </a>
  </div>
</div>
